<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gestionPedidos.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse nav-container" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link a-base" href="{% url 'index' %}"><img class="img-logo" src="{% static 'images/logo.png' %}" alt=""></a>
              </li>
              {% if user.is_authenticated%}
              <li class="nav-item">
                  <a class="nav-link a-base" href="{% url 'index' %}">Agua Pura</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link a-base" href="{% url 'home' %}">Registrar pedido</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link a-base" aria-current="page" href="{% url "venta_de_agua" %}">Venta de Agua</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link a-base" href="{% url "contacto" %}">Contacto</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ul-base">
              {% if user.is_authenticated%}
              <li class="nav-item">
                <a class="nav-link a-base" href="{% url "signout" %}">Cerrar sesión</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link a-base" href="{% url "signin" %}">Iniciar sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link a-base" href="{% url "signup" %}">Registrarse</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      <div class="container py-4">
        {% block content%}
        {% endblock %}
      </div>
    


      <div class="contact">
        <div class="contact-num">
            <div>
                <a href="https://www.whatsapp.com/?lang=es_LA"><img id="whatsapp" src="{% static 'images/whatsapp.png' %}" alt="Icono de whatsapp"></a>
            </div>
            <p>+56 9 9568 9345</p>
            <p>+56 9 0496 9968</p>
            <p>+56 9 9385 9350</p>
            <p>+56 9 0693 9349</p>
        </div>
        
        <div class="contact-soc-about">
            <div class="about">
                <h2>Nosotros</h2>
                <a href="#">Sobre nosotros</a>
                <a href="#">Sucursales</a>
                <a href="#">Unete a nuestro equipo</a>
            </div>
            

            <div class="contact-social">
                <a href="https://www.facebook.com/?locale=es_LA"><img src="{% static 'images/facebook.png' %}" alt="Icono de facebook"></a>
                <a href="https://www.instagram.com/"><img src="{% static 'images/instagram.png' %}" alt="Icono de instagram"></a>
                <a href="https://x.com/?lang=es"><img src="{% static 'images/x.png' %}" alt="Icono de x"></a>
            </div>
        </div>
    </div>

    <footer>
      Todos los derechos reservados &copy; 2024 Miguel Sierra &#9900; Christian Sarria &#9900; Cristobal Hernandez
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="{% static 'js/gestionPedidos.js' %}" ></script>
</body>
</html>