{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Contacto</h1>
<br>
<br>

<img class="wasap" src="{% static 'images/whatsapp.png' %}" alt="wasap">
<h3>Fono/Whatsapp</h3>
<ul>
    <li>Numero 1: +56 9 9568 9345</li>
    <li>Numero 2: +56 9 7496 9968</li>
    <li>Numero 3: +56 9 2385 9350</li>
    <li>Numero 4: +56 9 8693 9349</li>
</ul>

<img src="{% static 'images/mail.png' %}" alt="mail">
<h3>Email</h3>
<ul>
    <li>Email: contacto@liquidwater.cl</li>
</ul>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}